# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environnements
.env
.venv
venv/
env/

# Dataset (ne pas versionner les données)
DAiSEE/
*.avi
*.mp4

# Outputs & modèles (volumineux)
outputs/checkpoints/*.pt
outputs/checkpoints/*.onnx

# Garder la structure des dossiers
!outputs/checkpoints/.gitkeep
!outputs/logs/.gitkeep
!outputs/figures/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db